@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to XYZ Resturant Reviews</h1>
    <p>Purveyor of restaurant details and reviews.</p>
    <p>Proud to have served the greater XYZ area for about a month.</p>
</div>
